@import 'normalize.css';
.hidden {
  display: none;
}
video {
  max-width: 100%;
}
span.error {
  color: #c0392b;
}

.container {
  width: 100%;
  text-align: center;
}
.container>.button {
    text-align: center;
    width: 160px;
    height: 30px;
    border: none;
    border-radius: 2px;
    background-color: transparent;
    white-space: nowrap;
    color: #aaa;
   padding: 28px;
   font-size: 24px;
   line-height: 30px;
   display: block;
   margin: 0 auto;
   z-index: 100;
}
.container .button input {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}