<div class="ui grid page" id="home">
  <div class="column">
    <a class="small logo top clearfix" href="/"><img src="/assets/images/logo-black.png" /></a>
    <div class="logo v big aligned center clearfix">
      <img src="/assets/images/v-color.png" />
    </div>
    <h1 class="ui header huge center aligned heavy black">
      与君共享同一片视野
      <div class="sub header">
        VISION，一个在线视频实时交互网站。让分处异地的你我在同一片视野下感同身受。
      </div>
      <div class="actions">
        <a class="ui button primary huge" href="/#/room"><i class="add icon"></i>开始分享视频</a>
      </div>
    </h1>
  </div>
</div>
<footer>
  <p class="mute ui aligned center">
    © 2015, the VISION TEAM
  </p>
  <img src="/assets/images/v-white.png" />
</footer>
<div class="ui modal small" id="regist">
  <i class="close icon"></i>
  <div class="header">
    用户注册
  </div>
  <form class="content ui form">
    <div class="field">
      <label>用户名</label><input ng-model="user.name" placeholder="你的用户名写这里！" type="text" />
    </div>
    <div class="field">
      <label>密码</label><input ng-model="user.password" placeholder="这里写密码喵~" type="password" />
    </div>
  </form>
  <div class="actions">
    <a class="button ui green submit" ng-click="regist()">注册</a>
  </div>
</div>
<style>
  body {overflow:hidden !important;}
</style>
