.ui.page.grid#room class='{{hasUploader ? "has_uploader" : ""}}'
  .column
    h1.header
      .logo.small
        img src="/assets/images/logo-black.png"
      |  直播间
      span.status
        i.pot class="{{hasUploader ? 'red' : 'gray'}}"
        | {{hasUploader ? '等待选择片源...' : '正在连接...' }}
      .ui.floated.right.action.input
        input#urlShare type="text" placeholder="视频未找到..."
        button.ui.right.labeled.icon.button
          i.copy.icon
          | 分享
    .uploader ng-if="hasUploader"
      iframe#uploader src="http://127.0.0.1:9200/room/new" width="100%" height="100px"
    .modal.ui.basic#uploaderInfo ng-if="hasUploader"
      .header
        | 视频选择成功！
      .content
        p 你已经成功选择了一段视频，现在可以分享给朋友们啦！
        p 
          span#url 
            | --++--++--++
        p 请注意，和你一同分享视频的小伙伴都得靠你的帮助，所以在分享期间请不要关闭此网页哦~！
      .actions
        a.ui.button.basic.green.fluid.inverted 知道啦！


    .player class="{{hasUploader ? 'hidden' : ''}}"
      #danmu
      iframe#vedioPlayer src="{{url}}"
      .ui.form
        input type="text" placeholder="请在此输入信息" ng-model="message"
        a.button.ui.primary#submit ng-click="sendDanmu()" 发送



javascript:
  window.socket = io("http://localhost:3001");
  function receiveMessage(event) {
      console.log(event.data);
      data = event.data
      if (data.hash) {
        document.getElementById('vedioPlayer').src = 'http://127.0.0.1:9200/room/' + data.hash; 
        window.socket.emit('new roomID',{
            roomID: data.hash,
            IP: "233.create"
        });
        UI.RoomUploaderToggle();
        $('#url').html('<a href="http://127.0.0.1:3000/#/room#' + data.hash + '">http://127.0.0.1:3000/#/room#'+ data.hash + '</a>');
        $('#urlShare').val('http://127.0.0.1:3000/#/room#' + data.hash);
      }
      if (data.event) {
        window.socket.emit("video control", data);
      };
  }
  window.addEventListener("message", receiveMessage, false);

  window.socket.on('video control', function(event) {
    var data = event
    console.log(data)
    // if (data.event) {
      document.getElementById('vedioPlayer').contentWindow.postMessage(data, '*')
    //}
  });

  if(location.hash.split("#").length > 2) {
    window.socket.emit('join roomID', {
        roomID: location.hash.split("#")[2],
        IP: "233.233.233.33"
    });
  };
  
  
  var Dansocket = io("http://localhost:3001");
    Dansocket.on("danmaku", function(msg) {
      var div = $(msg);
      div.animate({right:'100%'});
      $("#danmu").append(div);
    });



